body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0E161B;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
/* background-color: black; */
background: linear-gradient( 180deg,rgba(225, 29, 72,0.1) 0%,rgba(225, 29, 72,0.1) 100% );
}

html::-webkit-scrollbar-thumb {
background: #139283;
}
